In [2]:
import numpy as np 
import pandas as pd

### 1. What data did you collect? How many different sources did you use? How many data samples did you collect? (Similar to Homework 2 Q2, but now you should answer based on your collection progress, rather than just your plan). 5 points.

a. Specify the general nature of data, e.g. weather, hotel price, airfare, etc. 1
point.

This dataset contains information about 53,940 round-cut diamonds. Each row of data represents a different diamond and there are 53,940 rows of data.There are 10 variables measuring various pieces of information about the diamonds, carat', 'cut', 'color', 'clarity', 'depth'(calculated value), 'table','price', 'x'(wid), 'y'(height), 'z'(depth)

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/diamonds.csv')

In [6]:
len(df)

53940

In [7]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

b. Specify exact data sources, e.g. a link to the dataset, a link to an API, or a
link to a website to parse.

I found and fetched the data set from https://www.kaggle.com/datasets/shivam2503/diamonds

c. Have 2 or more data sources.1point.

1. 'https://raw.githubusercontent.com/amankharwal/Website-data/master/diamonds.csv'

2. https://tradingeconomics.com/united-states/imports-of-jewelry 
This data set indicate the number and category of trade for Jewelry of US before 2022 Sep, I will inplement future analysis base on the quanitity and trend of market health regarding the whole Jewelry market. The data with be downloaded and stored in my local machine.

d. The data source should be large and recent. It should contain at least 100
samples (recommends 1000 samples or more), and is no older than 10 years from now. 2 points.

In [10]:
len(df) #data set's last update was 2018

53940

### 2. The data collection code should:

a. Show your progress on data collection. You donâ€™t have to finish all the work
by then. 4 points.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [12]:
df.describe().round()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.0,53940.0,53940.0,53940.0,53940.0,53940.0,53940.0,53940.0
mean,26970.0,1.0,62.0,57.0,3933.0,6.0,6.0,4.0
std,15571.0,0.0,1.0,2.0,3989.0,1.0,1.0,1.0
min,1.0,0.0,43.0,43.0,326.0,0.0,0.0,0.0
25%,13486.0,0.0,61.0,56.0,950.0,5.0,5.0,3.0
50%,26970.0,1.0,62.0,57.0,2401.0,6.0,6.0,4.0
75%,40455.0,1.0,62.0,59.0,5324.0,7.0,7.0,4.0
max,53940.0,5.0,79.0,95.0,18823.0,11.0,59.0,32.0

In [46]:
df = df.drop(df.columns[0],axis =1 )
df.reset_index(drop=True,inplace=True) 
train = df.sample(frac = 0.80, random_state=200)
test = df.drop(train.index) 
df_train_y= train['price']
df_train_x = train.drop('price',axis =1)
df_test_y= test['price']
df_test_x = test.drop('price',axis =1)

In [43]:
df_test_x

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z
2,3,0.23,Good,E,VS1,56.9,65.0,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,3.94,3.96,2.48
17,18,0.30,Good,J,SI1,63.4,54.0,4.23,4.29,2.70
...,...,...,...,...,...,...,...,...,...,...
53921,53922,0.70,Very Good,E,VS2,62.8,60.0,5.59,5.65,3.53
53924,53925,0.73,Ideal,I,VS2,61.6,55.0,5.82,5.84,3.59
53929,53930,0.71,Ideal,G,VS1,61.4,56.0,5.76,5.73,3.53
53933,53934,0.70,Very Good,E,VS2,61.2,59.0,5.69,5.72,3.49
53934,53935,0.72,Premium,D,SI1,62.7,59.0,5.69,5.73,3.58

b. Have a link to your github repository. If itâ€™s a private repository, you need to
add mail@g1eb.com and yuzhongh@usc.edu as your collaborator in the
repo settings. 1 point.

https://github.com/Yuhan-Chen831/DCSI-510_Final_Project

### 3. The sample data should:

a. Have a description about the original data format, e.g. For structured datasets, specify its format. For API, specify what keys you are collecting. For Web parsing, specify what elements/attributes you are parsing. 2 points.

There are 10 variables measuring various pieces of information about the diamonds, carat', 'cut', 'color', 'clarity', 'depth'(calculated value), 'table','price', 'x'(wid), 'y'(height), 'z'(depth)

The testing key is price and rest of the keys(except Unnamed: 0) are independent variables

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [17]:
df.describe().round()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.0,53940.0,53940.0,53940.0,53940.0,53940.0,53940.0,53940.0
mean,26970.0,1.0,62.0,57.0,3933.0,6.0,6.0,4.0
std,15571.0,0.0,1.0,2.0,3989.0,1.0,1.0,1.0
min,1.0,0.0,43.0,43.0,326.0,0.0,0.0,0.0
25%,13486.0,0.0,61.0,56.0,950.0,5.0,5.0,3.0
50%,26970.0,1.0,62.0,57.0,2401.0,6.0,6.0,4.0
75%,40455.0,1.0,62.0,59.0,5324.0,7.0,7.0,4.0
max,53940.0,5.0,79.0,95.0,18823.0,11.0,59.0,32.0

In [18]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [24]:
df_y= df['price']

In [25]:
df_x = df.drop(df['price'])

b. Have a description about the saved data format. e.g., you save them as a CSV/JSON/XML file and describe its format; you save them in SQL/NoSQL database and describe its schema. 3 points.

The data was CSV at the beginning, and I convert them into data frame.